<app-card>
  <table class="table-g">
    <thead>
      <tr>
        <th i18n="@@common.person">Osoba</th>
        <th i18n="@@common.role">Rola</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (user of settingsService.users.value(); track user.id) {
      <tr>
        <td>
          <ard-stack direction="row" spacing="2">
            <app-avatar [name]="user.displayName" [photo]="user.photo" showName />
            @if (!isArchived()) {
            <app-role-guard [role]="UserRole.Admin" [userId]="user.id">
              <ard-icon-button
                title="Zmień nazwę"
                i18n-title="@@participants.change-name"
                (click)="onEditUserPseudonym(user)"
              >
                <ard-icon-edit-line class="edit-icon" />
              </ard-icon-button>
            </app-role-guard>
            }
          </ard-stack>
        </td>
        <td>
          <app-role-selector
            [disabled]="isArchived()"
            [value]="userRoles.get(user.id)!"
            (valueChange)="onUserRoleChange(user, $event)"
            [isLoading]="!!settingsService.userRoleLoadingMap.get(user.id)"
          />
        </td>
        <td>
          <app-role-guard [role]="UserRole.Admin" [userId]="user.id">
            <ard-icon-button class="more-btn" [matMenuTriggerFor]="menu"> ⋮ </ard-icon-button>

            <mat-menu #menu="matMenu">
              <app-menu-item
                (click)="onEditUserPseudonym(user)"
                [disabled]="isArchived()"
                disabledTooltip="To rozliczenie jest zarchiwizowane"
                i18n-disabledTooltip="@@common.archived-tooltip"
              >
                <ard-icon-user-edit ngProjectAs="icon" />
                <span i18n="@@participants.change-name">Zmień nazwę</span>
              </app-menu-item>
              <app-menu-item
                class="red"
                (click)="onUserKickOrLeave(user)"
                [disabled]="isArchived() || user.role === UserRole.Owner || !({ userId: user.id } | roleGuard | async)"
                [disabledTooltip]="isArchived() ? kickOrLeaveTooltipArchived : user.role === UserRole.Owner ? kickOrLeaveTooltipOwner : isUserToKickOrLeaveSelf() ? kickOrLeaveTooltipSelf : ''"
              >
                <ard-icon-logout ngProjectAs="icon" />
                <app-role-guard [role]="null" [userId]="user.id">
                  <span i18n="@@participants.leave-reckoning">Opuść rozliczenie</span>
                  <span ngProjectAs="else" i18n="@@participants.remove-user">Wyrzuć użytkownika</span>
                </app-role-guard>
              </app-menu-item>
            </mat-menu>
          </app-role-guard>
        </td>
      </tr>
      }
    </tbody>
  </table>
</app-card>

@if (userToEditPseudonym(); as userToEditPseudonymValue) {
<app-edit-user-pseudonym-dialog
  [user]="userToEditPseudonymValue"
  (submit)="onConfirmUserPseudonymChange(userToEditPseudonymValue.id, $event)"
  (close)="userToEditPseudonym.set(null)"
/>
} @if (userToChangeRole(); as userToChangeRoleValue) {
<app-confirmation-dialog
  [open]="!!userToChangeRoleValue"
  heading="Zmiana roli"
  i18n-heading="@@participants.changing-role"
  confirmButtonText="Zmień"
  i18n-confirmButtonText="@@common.change"
  (submit)="onConfirmUserRoleChange(userToChangeRoleValue.id, userRoles.get(userToChangeRoleValue.id)!, dontShowChangeRoleDialogCheckbox.value())"
  (openChange)="userToChangeRole.set(null)"
>
  <p i18n="@@participants.change-role-dialog-text">
    Czy na pewno chcesz zmienić rolę uczestnika {{ userToChangeRoleValue.displayName }} na
    <strong>{{ userRoles.get(userToChangeRoleValue.id) | userRole }}</strong>?
  </p>
  <app-checkbox #dontShowChangeRoleDialogCheckbox label="Nie pytaj ponownie przez 5 minut" />
</app-confirmation-dialog>
} @if (userToKickOrLeave(); as userToKickOrLeaveValue) {
<app-confirmation-dialog
  [open]="!!userToKickOrLeaveValue"
  heading="Opuszczenie rozliczenia"
  i18n-heading="@@participants.leaving-reckoning"
  confirmButtonText="Opuść"
  i18n-confirmButtonText="@@common.leave"
  (submit)="onConfirmUserKickOrLeave(userToKickOrLeaveValue.id, dontShowKickOrLeaveDialogCheckbox.value())"
  (openChange)="userToKickOrLeave.set(null)"
>
  @if (isUserToKickOrLeaveSelf()) {
  <p i18n="@@participants.leave-reckoning-dialog-text-self">
    Czy na pewno chcesz opuścić rozliczenie <strong>{{ reckoningService.reckoning.value()?.name }}</strong>?
  </p>
  } @else {
  <p i18n="@@participants.leave-reckoning-dialog-text-other">
    Czy na pewno chcesz wyrzucić użytkownika <strong>{{ userToKickOrLeaveValue.displayName }}</strong>?
  </p>
  }
  <app-checkbox
    #dontShowKickOrLeaveDialogCheckbox
    label="Nie pytaj ponownie przez 5 minut"
    [class.hidden]="isUserToKickOrLeaveSelf()"
  />
</app-confirmation-dialog>
}

<app-invite-link-dialog [(open)]="inviteLinkDialogOpen" />
