<div class="heading-row">
  <div class="heading">{{ heading() }}:</div>
  @if (!isMainCurrency()) {
  <div class="selector">
    <app-simple-selector [options]="currencyOptions()" [(value)]="currentCurrency" />
  </div>
  }
</div>
<div class="user-grid">
  @for (userValue of usersAndValuesWithSelectedCurrency(); track userValue.user.id) {
  <app-avatar [name]="userValue.user.displayName" [photo]="userValue.user.photo" showName />
  <div class="value">
    @if (userValue.isRemaining) {
    <span class="remaining">
      @if ($count === 1) {
      <span i18n="@@common.everything">całość</span>
      } @else {
      <span i18n="@@common.remaining">reszta</span>
      }
    </span>
    }
    <app-balance [balance]="userValue.amount" [currency]="userValue.currencyCode" />
  </div>
  }
</div>
