.page-wrapper-g {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  h1 {
    padding-left: 1.5rem;
  }
}
.columns {
  display: grid;
  grid-template-columns: 1fr;

  @media (width > 32rem) {
    grid-template-columns: 7fr 3fr;
  }
}
