<div class="page-wrapper-g">
  <h1 i18n="@@main-page.reckoning-list.hello-user">Witaj, {{ authService.userData()?.displayName ?? '...' }}!</h1>

  <div class="list">
    <app-section-heading i18n-heading="@@main-page.reckoning-list.active-reckonings" heading="Aktywne rozliczenia">
      <ard-button (click)="onCreateReckoningClick()" appearance="raised-strong" color="primary">
        <ard-icon-plus class="icon" />
        <span i18n="@@common.create">Utwórz</span>
      </ard-button>
    </app-section-heading>
    @for (item of reckoningsService.reckonings.value(); track item.id) {
    <app-reckoning-list-item [data]="item" (click)="onReckoningClick(item)" />
    }
  </div>
</div>

<app-create-reckoning-dialog [(open)]="isCreateReckoningDialogOpen" (submit)="onCreateReckoningDialogSubmit($event)" />
