<div class="page-wrapper-g">
  <ard-stack direction="row" alignItems="center" spacing="8">
    <h1>{{ reckoningService.reckoning.value()?.name ?? '&nbsp;' }}</h1>

    <ard-icon-button (click)="navigateToSettings()">
      <ard-icon-settings />
    </ard-icon-button>
  </ard-stack>

  <section class="summary-section">
    <p>
      <app-text-btn (click)="navigateToSummary()">
        Pełne podsumowanie
        <ard-icon-chevron class="chevron" direction="right" />
      </app-text-btn>
    </p>

    @let mainCurrency = reckoningService.reckoning.value()?.mainCurrency ?? ''; @let totalPaid =
    basicSummaryService.summary.value()?.totalFromPaidTransactions; @let totalToPay =
    basicSummaryService.summary.value()?.totalFromSplitParts; @let totalReturned =
    basicSummaryService.summary.value()?.totalFromPayments;
    <ard-grid container columns="2 lg:4">
      <ard-grid size="1">
        <app-summary-card heading="Zapłacone">
          <ng-container ngProjectAs="icon">
            <ard-icon-bank-card-payment />
          </ng-container>
          <ng-container ngProjectAs="value">
            @if (totalPaid) {
            <app-balance [balance]="totalPaid" [currency]="mainCurrency" />
            } @else {
            <ard-spinner />
            }
          </ng-container>
          <ng-container ngProjectAs="subtext">
            @if (basicSummaryService.summary.value()?.numberOfPaidTransactions; as amount) {
            <pl-plural
              [value]="amount"
              forms="transakcja,transakcje,transakcji"
              i18n-forms="@@common.transaction.plural-forms"
            />
            } @else { &nbsp; }
          </ng-container>
        </app-summary-card>
      </ard-grid>
      <ard-grid size="1">
        <app-summary-card heading="Do zapłaty">
          <ng-container ngProjectAs="icon">
            <ard-icon-bank-card-x />
          </ng-container>
          <ng-container ngProjectAs="value">
            @if (totalToPay) {
            <app-balance [balance]="-totalToPay" [currency]="mainCurrency" coloringType="negative" />
            } @else {
            <ard-spinner />
            }
          </ng-container>
          <ng-container ngProjectAs="subtext">
            @if (basicSummaryService.summary.value()?.numberOfSplitPartTransactions; as amount) {
            <pl-plural
              [value]="amount"
              forms="transakcja,transakcje,transakcji"
              i18n-forms="@@common.transaction.plural-forms"
            />
            }
          </ng-container>
        </app-summary-card>
      </ard-grid>
      <ard-grid size="1">
        <app-summary-card heading="Bilans zwrotów">
          <ng-container ngProjectAs="icon">
            <ard-icon-hand-coins />
          </ng-container>
          <ng-container ngProjectAs="value">
            @if (totalReturned) {
            <app-balance [balance]="totalReturned" [currency]="mainCurrency" />
            } @else {
            <ard-spinner />
            }
          </ng-container>
          <ng-container ngProjectAs="subtext">
            @if (basicSummaryService.summary.value()?.numberOfPayments; as amount) {
            <pl-plural [value]="amount" forms="zwrot,zwroty,zwrotów" i18n-forms="@@common.returns-given.plural-forms" />
            •
            <pl-plural
              [value]="69"
              forms="otrzymany,otrzymane,otrzymanych"
              i18n-forms="@@common.returns-received.plural-forms"
            />
            }
          </ng-container>
        </app-summary-card>
      </ard-grid>
      <ard-grid size="1">
        <app-summary-card heading="Bilans">
          <ng-container ngProjectAs="icon">
            <ard-icon-coins />
          </ng-container>
          <ng-container ngProjectAs="value">
            @if (totalPaid !== undefined && totalToPay !== undefined && totalReturned !== undefined) { @let balance =
            totalPaid - totalToPay + totalReturned;
            <app-balance
              [balance]="balance"
              [currency]="mainCurrency"
              [coloringType]="balance < 0 ? 'negative' : 'positive'"
              explicitSign
            />
            } @else {
            <ard-spinner />
            }
          </ng-container>
        </app-summary-card>
      </ard-grid>
    </ard-grid>
  </section>

  <section>
    <app-transaction-list
      [transactions]="transactionListService.transactions.value()"
      partialList
      (showAllButtonClick)="navigateToTransactions()"
      (createTransactionClick)="navigateToCreateTransaction()"
      (editTransactionClick)="navigateToEditTransaction($event)"
      (deleteTransactionConfirm)="removeTransaction($event)"
    />
  </section>
  <section>
    <app-payment-list
      [payments]="paymentListService.payments.value()"
      partialList
      (showAllButtonClick)="navigateToPayments()"
      (appendPayment)="appendPayment($event)"
      (refreshPayment)="refreshPayment($event)"
      (removePayment)="removePayment($event)"
    />
  </section>
</div>
