<div class="page-wrapper-g">
  <section class="summary-section">
    <p>
      <app-text-btn (click)="navigateToSummary()">
        Pełne podsumowanie
        <ard-icon-chevron class="chevron" direction="right" />
      </app-text-btn>
    </p>

    @let mainCurrency = reckoningService.reckoning.value()?.mainCurrency ?? ''; @let totalPaid =
    basicSummaryService.summary.value()?.totalFromPaidTransactions; @let totalToPay =
    basicSummaryService.summary.value()?.totalFromSplitParts; @let totalReturnsGiven =
    basicSummaryService.summary.value()?.totalReturnsGiven; @let totalReturnsReceived =
    basicSummaryService.summary.value()?.totalReturnsReceived;
    <ard-grid container columns="2 lg:4">
      <ard-grid size="1">
        <app-summary-card
          heading="Opłacone"
          i18n-heading="@@reckoning.summary.paid.heading"
          [appLoadingBlocker]="basicSummaryService.isReloadingTransactions()"
          withSubtext
        >
          <ng-container ngProjectAs="icon">
            <ard-icon-bank-card-payment />
          </ng-container>
          <ng-container ngProjectAs="value">
            @if (totalPaid !== undefined) {
            <app-balance [balance]="totalPaid" [currency]="mainCurrency" />
            } @else {
            <ard-spinner />
            }
          </ng-container>
          <ng-container ngProjectAs="subtext">
            @if (basicSummaryService.summary.value()?.numberOfPaidTransactions; as amount) {
            <pl-plural
              [value]="amount"
              forms="transakcja,transakcje,transakcji"
              i18n-forms="@@common.transaction.plural-forms"
            />
            } @else { &nbsp; }
          </ng-container>
        </app-summary-card>
      </ard-grid>
      <ard-grid size="1">
        <app-summary-card
          heading="Do zapłaty"
          i18n-heading="@@reckoning.summary.to-pay.heading"
          [appLoadingBlocker]="basicSummaryService.isReloadingTransactions()"
          withSubtext
        >
          <ng-container ngProjectAs="icon">
            <ard-icon-bank-card-x />
          </ng-container>
          <ng-container ngProjectAs="value">
            @if (totalToPay !== undefined) {
            <app-balance [balance]="-totalToPay" [currency]="mainCurrency" coloringType="negative" />
            } @else {
            <ard-spinner />
            }
          </ng-container>
          <ng-container ngProjectAs="subtext">
            @if (basicSummaryService.summary.value()?.numberOfSplitPartTransactions; as amount) {
            <pl-plural
              [value]="amount"
              forms="transakcja,transakcje,transakcji"
              i18n-forms="@@common.transaction.plural-forms"
            />
            }
          </ng-container>
        </app-summary-card>
      </ard-grid>
      <ard-grid size="1">
        <app-summary-card
          heading="Bilans zwrotów"
          i18n-heading="@@reckoning.summary.returns-balance.heading"
          [appLoadingBlocker]="basicSummaryService.isReloadingReturns()"
          withSubtext
        >
          <ng-container ngProjectAs="icon">
            <ard-icon-hand-coins />
          </ng-container>
          <ng-container ngProjectAs="value">
            @if (totalReturnsGiven !== undefined && totalReturnsReceived !== undefined) {
            <app-balance [balance]="totalReturnsGiven - totalReturnsReceived" [currency]="mainCurrency" explicitSign />
            } @else {
            <ard-spinner />
            }
          </ng-container>
          <ng-container ngProjectAs="subtext">
            @let numberGiven = basicSummaryService.summary.value()?.numberOfReturnsGiven; @let numberReceived =
            basicSummaryService.summary.value()?.numberOfReturnsReceived; @if (numberGiven !== undefined &&
            numberReceived !== undefined) {
            <pl-plural
              [value]="numberGiven ?? 0"
              forms="odd.,odd.,odd."
              i18n-forms="@@common.returns-given.plural-forms"
            />
            •
            <pl-plural
              [value]="numberReceived ?? 0"
              forms="otrz.,otrz.,otrz."
              i18n-forms="@@common.returns-received.plural-forms"
            />
            }
          </ng-container>
        </app-summary-card>
      </ard-grid>
      <ard-grid size="1">
        @if (totalPaid !== undefined && totalToPay !== undefined && totalReturnsGiven !== undefined &&
        totalReturnsReceived !== undefined) { @let balance = totalPaid - totalToPay + totalReturnsGiven -
        totalReturnsReceived;
        <app-summary-card
          heading="Bilans"
          i18n-heading="@@reckoning.summary.balance.heading"
          [appLoadingBlocker]="basicSummaryService.isReloadingTransactions() || basicSummaryService.isReloadingReturns()"
          withSubtext
        >
          <ng-container ngProjectAs="icon">
            <ard-icon-coins />
          </ng-container>
          <ng-container ngProjectAs="value">
            <app-balance
              [balance]="balance"
              [currency]="mainCurrency"
              [coloringType]="balance < 0 ? 'negative' : 'positive'"
              explicitSign
            />
          </ng-container>
          <ng-container ngProjectAs="subtext">
            @if (balance < 0) {
            <span i18n="@@reckoning.summary.balance.subtext-when-negative">Tyle musisz zwrócić</span>
            } @else if (balance > 0) {
            <span i18n="@@reckoning.summary.balance.subtext-when-positive">Tyle dostaniesz zwrotu</span>
            } @else {
            <span i18n="@@reckoning.summary.balance.subtext-when-zero">Jesteś na zero</span>
            }
          </ng-container>
        </app-summary-card>
        } @else {
        <app-summary-card heading="Bilans">
          <ng-container ngProjectAs="icon">
            <ard-icon-coins />
          </ng-container>
          <ng-container ngProjectAs="value">
            <ard-spinner />
          </ng-container>
        </app-summary-card>
        }
      </ard-grid>
    </ard-grid>
  </section>

  <section>
    <app-transaction-list
      [isArchived]="reckoningService.isArchived()"
      [transactions]="transactionListService.transactions.value()"
      partialList
      (showAllButtonClick)="navigateToTransactions()"
      (createTransactionClick)="navigateToCreateTransaction()"
      (editTransactionClick)="navigateToEditTransaction($event)"
      (deleteTransactionConfirm)="removeTransaction($event)"
    />
  </section>
  <section>
    <app-return-list
      [returns]="returnListService.returns.value()"
      [isArchived]="reckoningService.isArchived()"
      partialList
      (showAllButtonClick)="navigateToReturns()"
      (appendReturn)="appendReturn($event)"
      (refreshReturn)="refreshReturn($event)"
      (removeReturn)="removeReturn($event)"
    />
  </section>
</div>
