:host {
  display: block;
  height: 100%;
}
app-card {
  height: 100%;
}
h3 {
  font-size: 1.125rem;
  color: var(--ard-text3);

  @media (width > 45rem) {
    font-size: 1.25rem;
  }
}
.value-row {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--ard-text);

  @media (width > 45rem) {
    font-size: 1.5rem;
  }
}
