<ard-dialog
  heading="Tworzenie rozliczenia"
  i18n-heading="@@create-reckoning.heading"
  [(open)]="open"
  confirmButtonText="Utwórz"
  i18n-confirmButtonText="@@common.create"
  (confirm)="onConfirm()"
  [canConfirm]="form.valid"
>
  <form [formGroup]="form">
    <ard-form-field>
      <ard-label i18n="@@create-reckoning.field.name">Nazwa rozliczenia</ard-label>
      <ard-input [formControl]="form.controls.name" />
      <ard-auto-error [control]="form.controls.name" />
    </ard-form-field>
  </form>
</ard-dialog>
