@use '../../../../../breakpoints.scss' as *;

.amount-row {
  display: grid;
  gap: 0.375rem;
  grid-template-columns: 1fr 8ch;
}

app-currency-rate-input {
  margin-left: auto;
  width: max-content;

  @media (width >= $bp-md) {
    margin-left: 0;
    position: relative;
    top: 1.5rem;
  }
}
