<div class="page-wrapper-g">
  <app-stack>
    <app-view-h1
      heading="Dane transakcji"
      i18n-heading="@@create-transaction.heading"
      subheading="Wprowadź szczegóły transakcji"
      i18n-subheading="@@create-transaction.subheading"
    />
    <form>
      <app-stack>
        <app-card-with-heading heading="Informacje podstawowe" i18n-heading="@@create-transaction.basic-info">
          <app-data-grid cols="1 md:2">
            <app-grid-item>
              <ard-form-field>
                <ard-label i18n="@@create-transaction.field.name" required>Tytuł transakcji</ard-label>
                <ard-input [formControl]="form.controls.transaction.controls.name" />
                @if (form.controls.transaction.controls.name.touched && form.controls.transaction.controls.name.errors)
                {
                <ard-error>{{ form.controls.transaction.controls.name.errors | mapError }}</ard-error>
                }
              </ard-form-field>
            </app-grid-item>
            <app-grid-item>
              <ard-form-field>
                <ard-label i18n="@@create-transaction.field.date" required>Data transakcji</ard-label>
                <ard-date-input [formControl]="form.controls.transaction.controls.transactionDate" [max]="TODAY" />
                @if (form.controls.transaction.controls.transactionDate.touched &&
                form.controls.transaction.controls.transactionDate.errors) {
                <ard-error>{{ form.controls.transaction.controls.transactionDate.errors | mapError }}</ard-error>
                }
              </ard-form-field>
            </app-grid-item>
            <app-grid-item>
              <div class="amount-row">
                <ard-form-field>
                  <ard-label i18n="@@create-transaction.field.amount" required>Kwota</ard-label>
                  <ard-number-input [formControl]="form.controls.transaction.controls.amount" />
                  @if (form.controls.transaction.controls.amount.touched &&
                  form.controls.transaction.controls.amount.errors) {
                  <ard-error>{{ form.controls.transaction.controls.amount.errors | mapError }}</ard-error>
                  }
                </ard-form-field>
                <ard-form-field>
                  <ard-label>&nbsp;</ard-label>
                  <app-select [options]="currencies()" [control]="form.controls.transaction.controls.currencyCode" />
                  @if (form.controls.transaction.controls.currencyCode.touched &&
                  form.controls.transaction.controls.currencyCode.errors) {
                  <ard-error>{{ form.controls.transaction.controls.currencyCode.errors | mapError }}</ard-error>
                  }
                </ard-form-field>
              </div>
            </app-grid-item>
            <app-grid-item>
              @if (currencyCodeValue() && currencyCodeValue() !== currencies()[0].value) {
              <app-currency-rate-input
                [mainCurrency]="currencies()[0].value"
                [currencyCode]="currencyCodeValue()"
                [formControl]="form.controls.transaction.controls.currencyRate"
                [isCurrencyRateFromApiControl]="form.controls.transaction.controls.isCurrencyRateFromApi"
                [isValueLoading]="isCurrencyRateLoading() && !form.controls.transaction.controls.currencyRate.touched"
              />
              }
            </app-grid-item>
          </app-data-grid>
        </app-card-with-heading>
        <app-card-with-heading heading="Osoby płacące" i18n-heading="@@create-transaction.payers">
          <app-payers-adder
            [formControl]="form.controls.payers"
            [totalAmount]="formValue()!.transaction!.amount!"
            [currencyCode]="formValue()!.transaction!.currencyCode!"
          />
        </app-card-with-heading>
        <app-card-with-heading heading="Podział kosztów" i18n-heading="@@create-transaction.cost-splits">
          <p>TODO</p>
        </app-card-with-heading>
      </app-stack>
    </form>
  </app-stack>
</div>
