.heading-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.125rem;

  h2 {
    line-height: 1.2;
    color: var(--ard-text2);
  }
  .actions {
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }
}
