@use '../../../../breakpoints.scss' as *;

.heading-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.125rem;

  .heading-and-show-all {
    display: flex;
    align-items: center;
    gap: 1rem;

    .chevron {
      width: 1rem;
      height: 1rem;
      position: relative;
      top: 0.0625rem;
    }
  }
  h2 {
    line-height: 1.2;
    color: var(--ard-text2);
  }
  app-text-btn {
    font-size: 0.875rem;

    .large {
      display: none;

      @media (width > $bp-sm) {
        display: inline;
      }
    }
    .small {
      display: inline;

      @media (width > $bp-sm) {
        display: none;
      }
    }
  }
  .actions {
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }
}
