
PORT=5280

SESSION_SECRET="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SESSION_MAX_AGE="86400000" # 1 day

CLIENT_URL="http://localhost:4200"

DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_USER="username"
DB_PASSWORD="password"
DB_DATABASE="schema_name"

GOOGLE_CLIENT_ID="XXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-XXXXXXXXXXXX-XXX-X-XXXXXXXXX"
GOOGLE_CALLBACK_URL="http://localhost:5280/api/auth/google/callback"