<button>
  <app-card>
    <div class="left-side">
      <div class="name">{{ data().name }}</div>
      <div class="additional-info">
        <div class="section-with-icon">
          <ard-icon-user-2 class="icon" />
          <pl-plural
            [value]="data().numberOfUsers"
            forms="osoba,osoby,osób"
            i18n-forms="@@common.people.plural-forms"
          />
        </div>
        <div class="section-with-icon" [title]="getLastUpdatedString(data().updatedDate | date: 'medium')">
          <span class="icon"></span>
          {{ data().updatedDate | timeago }}
        </div>
      </div>
    </div>
    <div class="right-side">
      <app-balance [balance]="data().currentBalance" [currency]="data().mainCurrency" />
    </div>
  </app-card>
</button>
