<app-card>
  <div class="main-part">
    <div class="left-side">
      <div class="name">{{ data().name }}</div>
      <app-statistic-row>
        <app-statistic>
          {{ data().transactionDate | date }}
        </app-statistic>
        <app-statistic-with-icon>
          <ard-icon-user-arrow-right-out-2 />
          <ng-container ngProjectAs="value">
            @if (data().payers.length === 1) {
              {{ data().payers[0].user.displayName }}
            } @else {
              <pl-plural
                [value]="data().payers.length"
                forms="płacący,płacących,płacących"
                i18n-forms="@@payers.plural-forms"
              />
            }
          </ng-container>
        </app-statistic-with-icon>
        <app-statistic-with-icon>
          <ard-icon-user-arrow-left-in-2 />
          <ng-container ngProjectAs="value">
            @if (numberOfIncludees() === 1) {
              {{ data().splitParts[0].includees[0].user.displayName }}
            } @else {
              <pl-plural
                [value]="numberOfIncludees()"
                forms="wliczany,wliczanych,wliczanych"
                i18n-forms="@@includees.plural-forms"
              />
            }
          </ng-container>
        </app-statistic-with-icon>
      </app-statistic-row>
    </div>
    <div class="right-side">
      <div class="balance-container">
        <app-balance [balance]="amountInMainCurrency()" [currency]="mainCurrency()" />
        @if (data().currencyRate) {
          <app-statistic>
            <app-balance [balance]="data().amount" [currency]="data().currencyCode" />
          </app-statistic>
        }
      </div>
      <ard-icon-button (click)="onShowDetailsClick()">
        <ard-icon-chevron class="chevron" [up]="isDetailsOpen()" [down]="!isDetailsOpen()" />
      </ard-icon-button>
    </div>
  </div>
  @if (isDetailsOpen()) {
    <hr />
    <div class="details-part">
      @if (data().currencyRate) {
        <app-statistic-row>
          <app-statistic-with-value
            text="Kwota oryginalna"
            i18n-text="@@reckoning-page.transactions.transaction.original-amount"
          >
            <app-balance [balance]="data().amount" [currency]="data().currencyCode" />
          </app-statistic-with-value>
          <app-statistic-with-value text="Kurs wymiany" i18n-text="@@common.currency-rate">
            1 {{ data().currencyCode }}
            =
            <app-balance [balance]="data().currencyRate!" [currency]="mainCurrency()" places="4-4" />
          </app-statistic-with-value>
          <app-statistic-with-value [text]="amountInMainCurrencyText()">
            <app-balance [balance]="amountInMainCurrency()" [currency]="mainCurrency()" />
          </app-statistic-with-value>
        </app-statistic-row>
      }
      <div class="user-details">
        <app-user-balance-grid
          heading="Opłacone przez"
          i18n="@@reckoning-page.transactions.transaction.paid-by"
          [usersAndValues]="payersAsUserData()"
          [mainCurrency]="mainCurrency()"
        />
        <div>
          <hr class="vertical-g" />
        </div>
        <app-user-balance-grid
          heading="Osoby wliczane"
          i18n="@@reckoning-page.transactions.transaction.includees"
          [usersAndValues]="splitPartsAsUserData()"
          [mainCurrency]="mainCurrency()"
        />
      </div>
    </div>
    <div class="actions">
      <ard-button compact color="none" (click)="editClick.emit()" [disabled]="isDeleteLoading()" i18n="@@common.edit">
        Edytuj
      </ard-button>
      <ard-button
        compact
        color="danger"
        appearance="outlined-strong"
        [disabled]="isDeleteLoading()"
        (click)="deleteClick.emit()"
        i18n="@@common.delete"
      >
        Usuń
      </ard-button>
    </div>
  }
</app-card>
