:host {
  width: 100vw;
  height: calc(100vh - var(--header-height));
  height: calc(100dvh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  padding-top: 16vh;
  padding-top: 16dvh;
}

svg {
  color: rgb(var(--ard-danger-900));
}
h1 {
  font-size: 1.25rem;
  font-weight: 500;
}
.text {
  margin-top: -1.5rem;
  text-align: center;
}
