@use '../../../../../breakpoints.scss' as *;

:host {
  display: block;
  padding-top: 1rem;
}

.payment-list {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ard-button {
  span {
    display: none;

    @media (width > $bp-sm) {
      display: inline;
    }
  }
  @media (width <= $bp-sm) {
    --ard-button-padding: 0;
    --ard-button-aspect-ratio: 1;
  }
}
