<app-stack>
  @if (sortedPayerValue().length > 0) {
    <app-card>
      @for (payer of sortedPayerValue(); track payer) {
        <button type="button" class="card-item" (click)="clickEditPayer(payer)">
          <div class="left">
            <div class="user-text" aria-label="Osoba" i18n-aria-label="@@common.person">
              {{ userName(payer.userId) }}
            </div>
          </div>
          <div class="middle">
            <div class="card-remaining-text">
              @if (payer.amount || remainingAmount()) {
                <app-money [amount]="payer.amount || remainingAmount()!" [currency]="currencyCode()" />
              } @else {
                <abbr
                  title="Wpisz kwotę transakcji w sekcji powyżej"
                  i18n-title="@@create-transaction.payers.payer-row.remaining-text.abbr"
                >
                  <app-money amount="???" [currency]="currencyCode()" />
                </abbr>
              }
            </div>
            <div class="amount-type">
              @if (payer.type === AmountType.Amount) {
                <ng-container i18n="@@common.amount">kwota</ng-container>
              } @else {
                @if (isOnlyOnePerson()) {
                  <ng-container i18n="@@common.everything">całość</ng-container>
                } @else {
                  <ng-container i18n="@@common.remaining">reszta</ng-container>
                }
              }
            </div>
          </div>
          <div class="right">
            <ard-icon-button
              (click)="onClickRemoveRow($event, payer.userId)"
              title="Usuń płacącego"
              i18n-title="@@create-transaction.payers.remove"
              aria-label="Usuń płacącego"
              i18n-aria-label="@@create-transaction.payers.remove"
            >
              <ard-icon-x-2 class="icon" />
            </ard-icon-button>
          </div>
        </button>
      }
    </app-card>
  }
  @if (remainingUsersOptions().length > 0) {
    <ard-button compact (click)="clickAddPayer()">Dodaj osobę</ard-button>
  }

  @if (remainingAmount(); as amount) {
    <div class="info-row">
      @if (amount < 0) {
        <ard-error i18n="@@create-transaction.payers.overflow-text">
          Łączna kwota zapłacona jest większa od kwoty transakcji (suma:
          <app-money [amount]="totalAmount()! - amount" [currency]="currencyCode()" />)!
        </ard-error>
      } @else if (hasUnassignedRemainingAmount()) {
        @if (hasFilledAllAmountsAndNoUsersLeft()) {
          <ard-error i18n="@@create-transaction.payers.remaining-no-users-text">
            Pozostała kwota <app-money [amount]="amount" [currency]="currencyCode()" /> pomimo, że wszyscy użytkownicy
            są już przypisani!
          </ard-error>
        } @else {
          <ng-container i18n="@@create-transaction.payers.remaining-text">
            Pozostała kwota: <app-money [amount]="amount" [currency]="currencyCode()" />
          </ng-container>
        }
      }
    </div>
  }
</app-stack>

<ard-dialog
  [(open)]="isEditDialogOpen"
  [canConfirm]="editDialogForm.valid"
  panelClass="full-width-g"
  confirmButtonText="Dodaj"
  i18n-confirmButtonText="@@common.add"
  (confirm)="savePayer()"
  (close)="onDialogClose()"
>
  <app-stack class="mobile">
    <ard-form-field>
      <ard-label required i18n="@@common.person">Osoba</ard-label>
      <app-select
        [options]="remainingUsersOptionsWithEditedUser()"
        [control]="editDialogForm.controls.userId"
        placeholder="Wybierz osobę"
        i18n-placeholder="@@create-transaction.payers.choose-person"
      />
      <ard-auto-error [control]="editDialogForm.controls.userId" />
    </ard-form-field>
    <ard-grid container spacing="2">
      <ard-grid size="6">
        <ard-form-field>
          <ard-label required i18n="@@common.amount">Kwota</ard-label>
          <app-select
            [options]="amountTypeOptions"
            [dynamicLabelMap]="amountTypeLabelMap()"
            [control]="editDialogForm.controls.type"
            (close)="focusAmountField()"
            (change)="onAmountTypeChange($event)"
          />
          <ard-auto-error [control]="editDialogForm.controls.type" />
        </ard-form-field>
      </ard-grid>
      <ard-grid size="6">
        @if (editDialogForm.controls.type.value === AmountType.Remaining) {
          <div class="remaining-text">
            <ng-container i18n="@@create-transaction.payers.payer-row.remaining-text">Kwota:</ng-container>&nbsp;
            @if (remainingAmount()) {
              <app-money [amount]="remainingAmount()" [currency]="currencyCode()" />
            } @else {
              <abbr
                title='Wpisz kwotę transakcji w sekcji "Informacje podstawowe".'
                i18n-title="@@create-transaction.payers.payer-row.remaining-text.hint"
              >
                <app-money amount="???" [currency]="currencyCode()" />
              </abbr>
            }
          </div>
        } @else {
          <ard-form-field>
            <ard-label>&nbsp;</ard-label>
            <ard-number-input
              #amountField
              [formControl]="editDialogForm.controls.amount"
              placeholder="Kwota"
              i18n-placeholder="@@common.amount"
            >
              <ng-template ard-suffix-tmp>
                <div>
                  {{ currencyCode() ?? '' }}
                </div>
              </ng-template>
            </ard-number-input>
            <ard-auto-error [control]="editDialogForm.controls.amount" />
          </ard-form-field>
        }
      </ard-grid>
    </ard-grid>
    @if (editDialogForm.controls.type.value === AmountType.Remaining && !remainingAmount()) {
      <p>
        <small i18n="@@create-transaction.payers.payer-row.remaining-text.hint">
          Wpisz kwotę transakcji w sekcji "Informacje podstawowe".
        </small>
      </p>
    }
    @if (remainingAmount(); as amount) {
      @if (amount > 0 && hasUnassignedRemainingAmount() && !hasFilledAllAmountsAndNoUsersLeft()) {
        <div i18n="@@create-transaction.payers.remaining-text">
          Pozostała kwota:
          <app-money [amount]="amount" [currency]="currencyCode()" />
        </div>
      }
    }
  </app-stack>
</ard-dialog>
