<ard-dialog
  [open]="isOpen()"
  [heading]="isCreatingReturn() ? 'Tworzenie zwrotu' : 'Edytowanie zwrotu'"
  i18n-heading="@@reckoning-page.returns.create-edit-dialog.heading"
  [confirmButtonText]="isCreatingReturn() ? 'Utwórz' : 'Zapisz'"
  i18n-confirmButtonText="@@reckoning-page.returns.create-edit-dialog.confirm-button-text"
  noCloseButton
  disableBackdropClose
  buttonActionType="no-op"
  (confirm)="onSubmit()"
  (reject)="close.emit()"
>
  <ard-grid container rowSpacing="6" class="base-grid">
    <ard-grid size="12">
      <ard-form-field>
        <ard-label i18n="@@create-return.field.name.label" required>Tytuł zwrotu</ard-label>
        <ard-input
          [formControl]="form.controls.name"
          placeholder="np. Zwrot, Końcowy rozrachunek"
          i18n-placeholder="@@create-return.field.name.placeholder"
          [inputAttrs]="{ autocomplete: 'one-time-code' }"
          htmlId="return-name-field"
        />
        <ard-auto-error [control]="form.controls.name" />
      </ard-form-field>
    </ard-grid>
    <ard-grid size="12">
      <ard-form-field>
        <ard-label i18n="@@create-return.field.returnedBy.label" required>Kto zwraca</ard-label>
        <app-select [formControl]="form.controls.returnedByUserId" [options]="userOptions()" />
        <ard-auto-error [control]="form.controls.returnedByUserId" />
      </ard-form-field>
    </ard-grid>
    <ard-grid size="12">
      <ard-form-field>
        <ard-label i18n="@@create-return.field.returnedTo.label" required>Komu zwraca</ard-label>
        <app-select [formControl]="form.controls.returnedToUserId" [options]="userOptions()" />
        <ard-auto-error [control]="form.controls.returnedToUserId" />
      </ard-form-field>
    </ard-grid>
    <ard-grid size="12">
      <ard-form-field>
        <ard-label i18n="@@create-return.field.date.label" required>Data zwrotu</ard-label>
        <ard-date-input
          [formControl]="form.controls.returnDate"
          [max]="TODAY"
          placeholder="DD.MM.YYYY"
          i18n-placeholder="@@create-return.field.date.placeholder"
        />
        <ard-auto-error [control]="form.controls.returnDate" />
      </ard-form-field>
    </ard-grid>
    <ard-grid size="12">
      <div class="amount-row">
        <ard-form-field>
          <ard-label i18n="@@create-return.field.amount.label" required>Kwota</ard-label>
          <ard-number-input
            [formControl]="form.controls.amount"
            placeholder="np. 200,00"
            i18n-placeholder="@@create-return.field.amount.placeholder"
          />
          <ard-auto-error [control]="form.controls.amount" />
        </ard-form-field>
        <ard-form-field>
          <ard-label>&nbsp;</ard-label>
          <app-select [options]="currencies()" [formControl]="form.controls.currencyCode" />
          <ard-auto-error [control]="form.controls.currencyCode" />
        </ard-form-field>
      </div>
    </ard-grid>
    @if (currencyCodeValue() && currencyCodeValue() !== currencies()[0].value) {
      <ard-grid size="12">
        <app-currency-rate-input
          [mainCurrency]="currencies()[0].value"
          [currencyCode]="currencyCodeValue()"
          [formControl]="form.controls.currencyRate"
          [isCurrencyRateFromApiControl]="form.controls.isCurrencyRateFromApi"
          [isValueLoading]="isCurrencyRateLoading() && !form.controls.currencyRate.touched"
          [selectedTransactionDate]="returnDateValue()"
          [currencyRateFromApi]="currencyRateFromApi()"
        />
      </ard-grid>
    }
  </ard-grid>
</ard-dialog>
