@for (coldef of columns(); track coldef.heading) {
<span class="heading-cell">
  {{ coldef.heading }}
</span>
} @for (dataRow of data(); track $index; let rowIndex = $index; let lastRow = $last) { @for (coldef of columns(); track coldef.heading) {
<div class="data-cell" [class.last-row]="lastRow">
  <ng-template #defaultCellTemplate let-content>
    {{ content }}
  </ng-template>

  <ng-template
    [ngTemplateOutlet]="getCellTemplate(coldef.templateName) ?? defaultCellTemplate"
    [ngTemplateOutletContext]="{ $implicit: dataRow[coldef.source], data: dataRow, index: rowIndex }"
  />
</div>
} }
