$gap: 4rem;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;
  min-height: calc(100vh - var(--header-height));
  padding: clamp(1rem, 3vw, 2rem);
  padding-bottom: calc(clamp(1rem, 3vw, 2rem) + 5rem + #{$gap});
}
p {
  text-align: center;
  line-height: 2.15;
}
.green {
  color: var(--green-dark);
}
.red {
  color: var(--red);
}
