@switch (logoutReason()) { @case (null) { &nbsp; } @case (LogoutReason.LoggedOut) {
<p>
  <strong class="green" i18n="@@login.logged-out">Wylogowano poprawnie.</strong>
  <br />
  <span i18n="@@login.log-in-to-access-app">Zaloguj się, aby zacząć się rozliczać.</span>
</p>
} @case (LogoutReason.SessionExpired) {
<p>
  <strong class="red" i18n="@@login.session-expired">Sesja logowania wygasła.</strong>
  <br />
  <span i18n="@@login.log-in-to-access-app">Zaloguj się, aby zacząć się rozliczać.</span>
</p>
} @case (LogoutReason.RegistrationUnavailable) {
<p>
  <strong class="red" i18n="@@login.registration-unavailable">
    Rejestracja nowych kont jest aktualnie niedostępna. Spróbuj ponownie później.
  </strong>
  <br />
  <span i18n="@@login.log-in-to-access-app">Zaloguj się, aby zacząć się rozliczać.</span>
</p>
} }

<app-google-login />
