$gap: 4rem;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;
  min-height: calc(100vh - var(--header-height));
  padding: clamp(1rem, 3vw, 2rem);
  padding-bottom: calc(clamp(1rem, 3vw, 2rem) + 2rem + #{$gap});
}
.green {
  color: var(--green-dark);
}
.red {
  color: var(--red-dark);
}
