:host {
  display: flex;
  gap: 0.25ch;
  align-items: center;
}
.icon {
  width: 1rem;
}
.disabled {
  opacity: 50%;
}
.dialog-content {
  width: 28rem;
  max-width: 100%;
}
ard-number-input {
  --ard-number-input-width: 15ch;
}
.text3 {
  color: var(--text3);
}
