@use '../../../../../breakpoints.scss' as *;

section {
  margin-top: 2rem;
}

h2 {
  padding-bottom: 1rem;
}
.with-subtitle {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  > * {
    padding: 0;
  }
  p {
    font-size: 0.875rem;
    color: var(--text3);
  }
}